/* variables */
:root {
    /*primary colors*/
    --green-cyan-light: rgb(95, 180, 162);
    --dark-blue: rgb(32, 58, 76);
    --grayish-dark-blue: rgb(51, 50, 61);

    /*secondary colors*/
    --very-light-gray: rgb(250, 250, 250);
    --light-grey: rgb(234, 234, 235);
    --bright-red: rgb(244, 48, 48);

    /*fonts*/
    --font-public-sans: 'Public Sans', sans-serif;
    --font-ibarra-nova: 'Ibarra Real Nova', serif;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--very-light-gray);
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.wrapper {
    padding: 0 10vw;
}

nav {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 40px;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 3vw;
}

.menu li {
    margin-left: 2rem;
    font-size: 1rem;
}

.menu li:hover {
    color: val(--green-cyan-light);
}

.hero-container {
    min-height: 600px;
    min-width: 900px;
    background-image: url('../images/homepage/desktop/image-homepage-hero.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-end;
}

.hero-container .hero-text {
    height: 317px;
    width: 445px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

.hero-container .hero-text div {
    width: 390px;
    height: 200px;
    display: flex;
    align-items: center;
}

.hero-container .hero-text h3 {
    margin: 0;
    font-size: 45px;
    font-family: var(--font-ibarra-nova);
    line-height: 1;
    
}

.hero-container button {
    height: 48px;
    width: 200px;
    background: var(--dark-blue);
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    border: 0;
}

.about-container {
    max-height: 600px;
    margin-top: 150px;
    display: flex;
}

.about-container article {
    border-top: solid #33323D 1px;
    border-bottom: solid #33323D 1px;
    color: #33323D;
    width: 350px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
}

.about-container h2 {
    font-size: 40px;
    font-family: var(--font-ibarra-nova);
    font-weight: bold;
    margin: 0;
}

.about-container div {
    line-height: 2;
    height: 360px;
    padding: 20px 2px 50px 2px;
}

.about-container img {
    height: 600px;
}

.about-container button {
    height: 48px;
    width: 200px;
    background: var(--very-light-gray);
    border: solid #33323D 1px;
    color: #33323D;
    font-size: 12px;
    letter-spacing: .5px;
}


.portfolio-layout button{
    width: 175px;
    height: 48px;
    background: var(--very-light-gray);
    border: solid #33323D 1px;
    color: #33323D;
    font-size: 12px;
    letter-spacing: .5px;
}

.portfolio-layout h3 {
    font-family: var(--font-ibarra-nova);
    color: #33323D;
    font-weight: 700;
    font-size: 40px;
}

.portfolio-layout article {
    border-top: solid var(--light-grey) 1px;
    border-bottom: solid var(--light-grey) 1px;
    color: #33323D;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6vw;
}

.portfolio-layout .text {
    height: 150px;
    margin-bottom: 30px;
    line-height: 2;
}
.section-portfolio-odd {
    display: flex;
    margin-top: 10vh;
}

.section-portfolio-odd article{
    border-top: solid var(--light-grey) 1px;
    border-bottom: solid var(--light-grey) 1px;
    color: #33323D;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6vw;
}

.section-portfolio-odd h3 {
    font-family: var(--font-ibarra-nova);
    color: #33323D;
    font-weight: 700;
    font-size: 40px;
}

.section-portfolio-odd button {
    width: 175px;
    height: 48px;
    background: var(--very-light-gray);
    border: solid #33323D 1px;
    color: #33323D;
    font-size: 12px;
    letter-spacing: .5px;
}

.section-portfolio-odd article div {
    height: 150px;
    margin-bottom: 30px;
    line-height: 2;
}

.section-portfolio-evenly {
    display: flex;
    justify-content: flex-end;
    margin-top: 10vh;
}

.section-portfolio-evenly article {
    border-top: solid var(--light-grey) 1px;
    border-bottom: solid var(--light-grey) 1px;
    color: #33323D;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 6vw;
}

.section-interested {
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.section-interested .grid-item-1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: var(--font-ibarra-nova);
}

.grid-item-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid-item-3 button {
    height: 48px;
    width: 162px;
    background: var(--very-light-gray);
    border: solid #33323D 1px;
    color: #33323D;
    font-size: 12px;
    letter-spacing: .5px;
}

.contact-section-1 {
    display: flex;
    margin-top: 10vh;
    padding-top: 7vh;
    border-top: solid var(--light-grey) 1px;
    color: #33323D;
}

.contact-section-1 .title {
    width: 350px;
}

.contact-section-1 .title h3 {
    font-family: var(--font-ibarra-nova);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.contact-section-1 article {
    display: flex;
    justify-content: flex-end;
    width: 925px;
}

.contact-section-1 .text {
    width: 635px;
    height: 210px;
    line-height: 2;
}

.contact-section-2 {
    margin-top: 10vh;
    display: flex;
    padding-top: 7vh;
    border-top: solid var(--light-grey) 1px;
    margin-bottom: 15vh;
    color: #33323D;
}

.contact-section-2 .title {
    width: 350px;
}

.contact-section-2 .title h3 {
    font-family: var(--font-ibarra-nova);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.contact-section-2 .form {
    display: flex;
    justify-content: flex-end;
    width: 925px;
}

.contact-section-2 form {
    display: flex;
    flex-direction: column;
    width: 635px;
}

.contact-section-2 form label{
    color: #33323D;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-section-2 form .input-medium {
    height: 48px;
    background: var(--light-grey);
    border: 0;
    margin-bottom: 25px;
}

.contact-section-2 form .input-large {
    height: 96px;
    background: var(--light-grey);
    border: 0;
    margin-bottom: 20px;
}

.contact-section-2 form button {
    width: 200px;
    height: 48px;
    color: white;
    background: var(--dark-blue);
    border: 0;
}

footer {
    background: var(--grayish-dark-blue);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .logo-links {
    display: flex;
    margin-left: 10vw;
    padding-top: 15px;
    padding-right: 15px;
    align-items: center;
}

.logo-links img {
    color: white;
    padding-right: 40px;
}
footer a {
    color: white;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

footer .icons {
    color: white;
    margin-right: 120px;
    padding-top: 15px;
}
