/* variables */
:root {
    /*primary colors*/
    --green-cyan-light: rgb(95, 180, 162);
    --dark-blue: rgb(32, 58, 76);
    --grayish-dark-blue: rgb(51, 50, 61);

    /*secondary colors*/
    --very-light-gray: rgb(250, 250, 250);
    --light-grey: rgb(234, 234, 235);
    --bright-red: rgb(244, 48, 48);

    /*fonts*/
    --font-public-sans: 'Public Sans', sans-serif;
    --font-ibarra-nova: 'Ibarra Real Nova', serif;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--very-light-gray);
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.wrapper {
    padding: 0 10vw;
}

nav {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 40px;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 3vw;
}

.menu li {
    margin-left: 2rem;
    font-size: 1rem;
}

.menu li:hover {
    color: val(--green-cyan-light);
}

.hero-container {
    min-height: 600px;
    min-width: 900px;
    background-image: url('../images/homepage/desktop/image-homepage-hero.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-end;
}

.hero-container .hero-text {
    height: 317px;
    width: 445px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

.hero-container .hero-text div {
    width: 390px;
    height: 200px;
    display: flex;
    align-items: center;
}

.hero-container .hero-text h3 {
    margin: 0;
    font-size: 45px;
    font-family: var(--font-ibarra-nova);
    line-height: 1;
    
}

.hero-container button {
    height: 48px;
    width: 200px;
    background: var(--dark-blue);
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    border: 0;
}

.about-container {
    max-height: 600px;
    border: solid red 1px;
    margin-top: 150px;
    display: flex;
}

.about-container article {
    border: solid blue 1px;
    color: #33323D;
    width: 350px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
}

.about-container h2 {
    font-size: 40px;
    font-family: var(--font-ibarra-nova);
    font-weight: bold;
    margin: 0;
}

.about-container div {
    line-height: 2;
    height: 360px;
    padding: 20px 2px 50px 2px;
}

.about-container img {
    height: 600px;
}

.about-container button {
    height: 48px;
    width: 200px;
    background: var(--dark-blue);
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    border: 0;
}

footer {
    background: var(--grayish-dark-blue);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .logo-links {
    display: flex;
    margin-left: 10vw;
    padding-top: 15px;
    padding-right: 15px;
    align-items: center;
}

.logo-links img {
    color: white;
    padding-right: 40px;
}
footer a {
    color: white;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

footer .icons {
    color: white;
    margin-right: 120px;
}
